html { 
  background: url(https://s.graphiq.com/sites/default/files/2307/media/images/t2/Giants_Orange_429955_i0.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1;
}
/*layout*/
body {
	background-image:url('http://s3.amazonaws.com/media.wbur.org/wordpress/10/files/2014/10/1017_oag_travis-ishikawa.jpg');
	background-size: auto 768px;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 30px;
}
/*elements*/
h1 {
	font-family: 'sans-serif';
	font-size: 50px;
	text-align:center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}
#question_wrapper {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	font-family: sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 25px;
	padding-top: 200px;
}
#answer_holder {
	display: inline-block;
	margin-left: 60px;
	margin-top: 30px;
	line-height: 35px;
}
#button_holder {
	margin-left: 50px;
}
#submit {
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
}
#retry_button{
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	display: none;
}
#bottom {
	text-align: center;
	whites-space:nowrap;
}

#question_score {
	display: inline-block;
}
#fact_holder, #counter {
	display: inline-block;
	font-family: 'sans-serif';
	font-size: 30px;
	text-align:center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	width: 450px;
	vertical-align:top;
	margin-left: 30px;
	margin-top: 70px;
}
#final {
	font-size: 30px;
	line-spacing: 35px;
}